<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group mb-2">
    <label for="name">Nome</label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="name"
      placeholder="Fulano de Tal"
      [(ngModel)]="user.name"
    />
  </div>

  <div class="form-group mb-2">
    <label for="email">E-mail</label>
    <input
      class="form-control"
      type="email"
      id="email"
      name="email"
      placeholder="fulanodetal@mail.com"
      [(ngModel)]="user.email"
    />
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
