<div class="box box-default shadow mt-5">
  <div class="box-header with-border">
    <h3 class="box-title">
      {{ aluno.id ? " Editar aluno" : "Cadastrar aluno" }}
    </h3>
  </div>

  <div class="box-body">
    <form role="form" #form1="ngForm" novalidate>
      <div class="form-group">
        <label for="">#Id</label>
        <input
          type="number"
          name="id"
          class="form-control"
          [ngModel]="aluno.id"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="">Nome</label>
        <input
          type="text"
          name="name"
          class="form-control"
          [ngModel]="aluno.nome"
        />
      </div>
      <div class="form-group">
        <label for="">E-mail</label>
        <input
          type="text"
          name="email"
          class="form-control"
          [ngModel]="aluno.email"
        />
      </div>
    </form>
  </div>

  <div class="box-footer">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      [disabled]="!form1.valid"
      (click)="atualizarAluno(form1)"
    >
      Editar
    </button>
  </div>
</div>
