<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group mb-2">
        <label for="name">
          Nome
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [ngClass]="applyValidationFieldCss('name')"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Fulano de Tal"
        />

        <app-field-error-control
          [showError]="isAnInvalidField('name')"
          errorMessage="Nome é obrigatório!"
        ></app-field-error-control>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group mb-2">
        <label for="email">
          E-mail
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          type="email"
          id="email"
          formControlName="email"
          placeholder="fulanodetal@mail.com"
        />
      </div>
    </div>
  </div>

  <div class="mt-2">
    <button type="submit" class="btn btn-outline-primary">Enviar</button>

    <button
      class="btn btn-outline-secondary"
      type="reset"
      style="margin-left: 5px"
    >
      Resetar
    </button>
  </div>

  <app-form-debug [form]="reactiveForm"></app-form-debug>
</form>
